#input1[type="submit"] {
    border: 1px solid #45f3ff;
    outline: none;
    float:right;
    background-color: #5E17EB;
    padding-right: 20px;
    color:#ffffff;
    padding: 11px 25px;
    width: 120px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
  }
  #input1[type="submit"]:hover{
  background: #45f3ff;
  color: #23242a;
  }
  #input1[type="submit"]:active {
    opacity: 0.8;
  }

  #input2[type="submit"] {
    border: 1px solid #a845ff;
    float:right;
    padding-right: 20px;
    outline: none;
    background: transparent;
    color:#5E17EB;
    padding: 11px 25px;
    width: 120px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
  }
  #input2[type="submit"]:hover{
  background: #b803ff;
  color: #5E17EB;
  padding-right: 20px;
  }
  #input2[type="submit"]:active {
    opacity: 0.8;
    padding-right: 20px;
  }

  section::after {
    content: "";
    display: table;
    clear: both;
  }

  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 50px;
    background-color: #ffffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .search input[type=text]{
    width:650px;
    height:38px;
    background-color: rgba(84, 121, 247, 1);
    border-radius:20px;
    border: 1px solid rgba(84, 121, 247, 1);
    font-size: 21px;
    color: #000000;
 
}
 
.search{
    float:left;
    margin:7px;
    font-size: 25px;
    
 
}
 
.search button{
    background-color: #ffffff;
    color: rgba(84, 121, 247, 1);
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}